@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/* 
    deep navy : #142850
    navy : #27496D
    bluegreen : #00909E
    gray : #DAE1E7
    orange : #c2662d
*/
@font-face {
    font-family: 'GmarketSansLight';
    src: url('../fonts/GmarketSansTTFLight.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('../fonts/GmarketSansTTFMedium.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('../fonts/GmarketSansTTFBold.ttf') format('truetype');
    font-weight: 600;
}
* {margin:0; padding:0; font-family: 'GmarketSansLight'; color:#142850; font-weight:300; letter-spacing: -0.2px;}
ul li {list-style-type:none;}
html, body {background-color:#DAE1E7; font-size:14px; color:#142850;}
a {text-decoration: none; color:#142850;}

h2 {font-weight:400; margin-bottom:10px; font-family: 'Nerko One', cursive; font-size:60px;}

.mt10 {margin-top:10px;}
.mt30 {margin-top:30px;}
.mb10 {margin-bottom:10px;}
.mr05 {margin-right:5px;}
.mr10 {margin-right:10px;}
.ml10 {margin-left:10px;}
.ml14 {margin-left:14px}
.txtC {text-align:center}
.txtL {text-align:left;}
.txtR {text-align:right;}
.cursorDefault {cursor:default;}
.cursorPointer {cursor:pointer;}

.sm {font-size:11px;}
.gray {color:#666;}

.flex {display:flex;}

.wrapper {max-width:800px; margin:0 auto; padding:30px 16px;}
    .wrapper.main {display:flex; height:100vh; flex-wrap:nowrap; justify-content: center; align-items: center; text-align:center;}
.nav {margin:20px 0; position:relative; overflow:hidden;}
.nav .navEl {min-width:35px; float:left; margin-right:20px;}
.nav a {display:inline-block; position:relative; font-size:18px; padding:7px 0;}
.nav .on a {color:#00909E; }
.nav .indicator {height:1px; display:inline-block; position:absolute; left:0; top:0; background-color: #00909E; transition:all 0.3s;}

/* sledge */
.totalArea {margin-bottom:5px; text-align:right; font-size:12px;}
.sledgeList {line-height:30px; margin-bottom:20px;}
.sledgeListNav {width:100%; justify-content: space-between; align-items: center;}
.sledgeListTab {margin-bottom:5px;}
.sledgeListTab span {display:inline-block; padding:5px 10px; cursor:pointer; margin-right:5px; border-radius:5px; background-color: transparent;}
.sledgeListTab .on { background-color: #00909E; color:#fff; border:none;}
.sledgeRow {display:flex; border-top:1px solid #aaa; align-items: center;}
.sledgeRow:last-child {border-bottom:1px solid #aaa}
.sledgeRow .idx {width:30px;}
.sledgeRow .sigunNm {width:57px;}
.sledgeRow .bizplcNm {width:350px;}
.sledgeRow .bizplcNm > span:first-child {margin-right:7px;}
.sledgeRow .addr {font-size:11px;}
.badge {line-height:normal; display:inline-block; text-align:center; background-color:#999; padding:3px 4px; font-size:10px; color:#fff; border-radius:4px; vertical-align: 2px; }
.badge.red {background-color: #b85454;}
.badge.green {background-color: #5eb07a;}
.badge.orange {background-color: #c78a63;}

#myMap {margin:0 auto;}



/* pagination */
.pagination {margin:0 auto; text-align:center; margin-bottom:30px;}
.pagination > span {width:25px; height:25px; border-radius:50%; line-height:25px; display:inline-block; margin-right:6px; cursor:pointer;}
.pagination > span:last-child {margin-right:0;}
.pagination .prev {margin-right:10px;}
.pagination .next {margin-left:4px;}
.pagination .on { background-color:#c2662d; color:#fff; }
.pagination .hidden {visibility: hidden;}

/* formPage */
.formPage input {width:250px;}
.formPage .desc h3 {font-weight:400; font-size:25px;}
.formPage .desc p {margin:10px 0 20px; line-height:32px; font-size:16px;}
.formPage .desc .sm {font-size:13px;}

/* modal */
.modal.custom {font-family: 'GmarketSansLight'; outline:none; border:1px solid #DAE1E7;}
.modal h2 {font-size:20px; font-family: 'GmarketSansLight';}
.modal p {font-family: 'GmarketSansLight';}


@media (max-width: 767px) {
    .sledgeList {line-height:17px;}
    .sledgeRow {font-size:11px; padding:3px 0;}
    .sledgeRow .idx {width:20px;}
    .sledgeRow .sigunNm {font-size:11px; width:50px;}
    .sledgeRow .bizplcNm {width:130px;}
    .sledgeRow .addr {font-size:10px; width:190px;}
    .badge {padding:2px 3px;}
}

@media (max-width:462px) {
    
}